CONFIG_PROJECT_NAME="switch_demo"
CONFIG_PROJECT_VERSION="1.0.0"
CONFIG_PLATFORM_CHOICE="JIELI"
CONFIG_CHIP_CHOICE="wl82"
CONFIG_BOARD_CHOICE_JIELI=y
CONFIG_BOARD_CHOICE_AC7916A=y
CONFIG_ENABLE_UART=y
CONFIG_ENABLE_WIFI=y
CONFIG_ENABLE_BLUETOOTH=y
# CONFIG_JIELI_MINIMAL_HELLO is not set
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
